<!DOCTYPE html>
<html>
  <head>
    <title>EGuide</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
	  <div class="container">
	  	<% flash.each do |msg_type, msg| %>
	  		<div class="alert alert-<%= msg_type%>"><%= msg %></div>
	  	<% end %>
	    <%= yield %>
	  </div>
  </body>
</html>
